<% content_for :head do %>
  <%= javascript_include_tag 'ext_scaffold/light_navi_tarif.js' %>
  <% javascript_tag do %>
    Ext.Ajax.defaultHeaders = { 'Content-Type': 'application/json' };
    Ext.onReady(function() {

      Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
      Ext.QuickTips.init();

      var vp = new Ext.Viewport({
        layout: 'fit',
        renderTo:"main",
        items:[LightNaviTarif.light_navi_tarifPanel()]
      });
    });
  <% end %>
<% end %>
<div id="main"></div>